* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search {
    padding: 10px;
}

.search-box {
    width: 300px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 30px;
    padding-left: 12px;
}

.enter-search {
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 145, 0);
    background-color: rgba(255, 228, 192, 0.443);
}

.enter-search:hover {
    cursor: pointer;
    color: rgb(234, 234, 234);
    background-color: rgba(111, 71, 6, 0.5);
}

.pagination {
    margin-top: 10px;
    margin-bottom: 20px;
}

.pagination ul {
    list-style-type: none;
    display: inline-flex;
}

.pagination li {
    margin: 5px;
}

.pagination a {
    text-decoration: none;
    padding: 10px;
    color: #9b0a00cf;
}

.pagination .disabled a {
    pointer-events: none;
    cursor: default;
    color: #bbb;
}

.pagination .active {
    background-color: rgb(142, 142, 253);
    color: white;
}

.add {
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 20px;
    cursor: pointer;
}

.add-product {
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    border: 1px dashed #000000a9;
    border-radius: 70px;
}


.heading {
    margin: 10px;
    padding: 10px;
    color: rgb(49, 49, 49);
    font-size: 25px;
}

.add-product .product {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.add-product .product input {
    text-align: center;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(112, 112, 105, 0.8);
    border-radius: 10px;
    color: rgba(112, 112, 105, 0.8);
    width: 250px;
    height: 32px;
}

#category-value {
    width: 250px;
    padding: 5px;
    outline: none;
    border-radius: 10px;
    border: 1px solid rgba(112, 112, 105, 0.8);
    color: rgba(112, 112, 105, 0.8);
    text-align: center;
    height: 32px;
}

.add-product .product label {
    width: 200px;
    margin-right: 5px;
    color: rgba(112, 112, 105, 0.8);
}

.submit {
    margin-top: 5px;
}

.submit-btn {
    background-color: rgba(236, 236, 236, 0.911);
    outline: none;
    border: none;
    width: 90%;
    height: 30px;
}

.submit-btn:hover {
    cursor: pointer;
    background-color: rgba(89, 89, 89, 0.911);
    color: white;
}

.products {
    width: 100%;
    padding: 20px;
}

table {
    width: 100%;
    text-align: center;
}

table tr th {background-color: #ffb3b32d;}
table tr:nth-child(even):hover {background-color: #dee7352d;}
table tr:nth-child(odd):hover {background-color: #024a4f14;}

table, tr, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

table a {
    text-decoration: none;
    color: black;
}

/* Whole Container Style */
.fullDemoContainer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
    background: linear-gradient(110deg, #ffffff61 50%, #8e8e8d3a 50%);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.16);
}

/* Section 1 CSS */
.tbd {
    text-align: left;
}

.title-style {
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 170, 59);
    margin: 15px;
}

.brand-style {
    font-size: 22px;
    color: rgb(66, 75, 75);
    margin: 15px;
}

.description-style {
    margin: 15px;
    padding: 10px;
    width: 200px;
    color: rgb(75, 73, 66);
    border: 1px dotted #000;
    border-radius: 20px;
    background-color: #ffeba98c;
}

/* Section 2 CSS */

.allImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.thumbNailContainer img {
    border: 1px solid #000;
    border-radius: 20px;
    margin-bottom: 10px;
}

.productImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.productImage img {
    border-radius: 20px;
}

/* Section 3 CSS */
.pdr {
    padding: 10px;
    text-align: end;
}

.price-style {
    font-size: 25px;
    color: rgb(241, 131, 22);
    margin: 15px;
}

.price-style strong {
    font-size: 70px;
    color: rgb(81, 80, 81);
}

.discountPercentage-style {
    text-align: end;
    margin: 15px;
    padding: 20px;
    color: #4f4f4fcc;
    font-size: 20px;
    background-color: rgba(247, 247, 247, 0.525);
    border-radius: 20px;
}

.rating-style {
    margin: 15px;
    font-size: 20px;
    color: rgba(89, 89, 86, 0.87);
}

.rating-style strong {
    font-size: 40px;
    color: rgba(10, 9, 10, 0.331);
}

.smallDemo {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toast-message {
    display: none;
    z-index: 1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: rgba(231, 231, 231, 0.733);
    text-align: center;
    padding: 30px;
    width: 450px;
    height: 450px;
    font-size: 20px;
    border-radius: 50%;
}

.toast-message p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.toast-message .message {
    color: rgb(237, 79, 79);
}

.toast-message .body {
    color: rgb(0, 94, 182);
}

.close {
    z-index: 1;
    position: fixed;
    top: 5%;
    right: 5%;
    color: rgba(255, 0, 0, 0.767);
    font-size: 80px;
    font-weight: bolder;
    display: none;
    transition: 0.5s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.background-blur {
    background-color: rgba(0, 0, 0, 0.9);
}

.search-box-blur {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn {
    color: rgb(0, 0, 0);
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
}